.Rproj.user
.Rhistory
.RData
.Ruserdata
.rds
extdata/
extdata/ag-cleaned.txt
extdata/03_otus/
extdata/gevers/
extdata/morgan/
01_Preprocessing/data/
02_Training/data/
02_Training/results/
03_Validation/data/
03_Validation/results/
Review/data
Review/data/fs/
Review/results/
Manuscripts/
Review/manuscript/version2/